
<div class="container" id="container">
<h2 class="mat-display-2">Search Product</h2>
<form class="example">
    <input type="text" placeholder="Search a product" name="search" id="search" [(ngModel)]="myInput">
    <button type="submit" (click)="applySearchFilter()"><i class="fa fa-search"></i></button>
  </form>
</div>

<div class="container">
   <!-- <h1 style="text-align: center;color: blue;margin-top: 45px;">List of Products</h1>-->
    <table class="table table-dark" id="applicant" style="margin-top: 45px;">
        <tr><td colspan="8" style="text-align: center; color: blue;"><h1>List Of Products</h1></td></tr>
      <tr>
        <td>Product Id</td>
        <td>Product  Name</td>
        <td>Category</td>
        <td>Description</td>
       
        <td>Price</td>
        <td>Manufacturer</td>
        <td>Delete</td>
        <td>Update</td>
        
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.category}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.manufacturer}}</td>
        <td><button class="btn btn-success" (click)="onRemove(product.productId,product.productName)" value=Remove>Remove</button></td>
        <td><button class="btn btn-danger" (click)="onUpdate(product.productId,product.productName)" value=Update>Update</button></td>

    </tr>
    <tr>
        <td colspan="8" style="text-align: center;"><button class="btn btn-success" (click)="onAdd()" value=Add>Add a Product</button></td>
    </tr>
    </table>
  </div>


  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="this.productList.length" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshProducts()"></ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProducts()">
      <option [ngValue]="2">2</option>
      <option [ngValue]="4">4</option>
      <option [ngValue]="6">6</option>
    </select>
  </div>


  <div id="showSuccess" *ngIf="showSuccess" class="success">
    <span>{{message}}</span>
  </div>



 <!---<div id="updation" *ngIf="showUpdationForm">
    <h2 style="text-align: center;">Update A Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" id="myform">
      <mat-form-field>
        <mat-label style="color: blue;">Product Name</mat-label>
        <input matInput [formControl]="productForm.controls['productName']" placeholder="productName">
        <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
          Product Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="productForm.controls['productName'].hasError('pattern')">
            In Product Name first character is <strong>capital</strong>
          </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label style="color: blue;">Category</mat-label>
        <input matInput [formControl]="productForm.controls['category']" placeholder="Category">
        <mat-error *ngIf="productForm.controls['category'].hasError('required')">
          Category is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="productForm.controls['category'].hasError('pattern')">
          In Category first character is <strong>capital</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label style="color: blue;">Description</mat-label>
        <input matInput [formControl]="productForm.controls['description']" placeholder="Description">
        <mat-error *ngIf="productForm.controls['description'].hasError('required')">
          Descrition is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="productForm.controls['description'].hasError('pattern')">
          In Description first character is <strong>capital</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label style="color: blue;">Price</mat-label>
        <input matInput [formControl]="productForm.controls['price']" placeholder="Price">
        <mat-error *ngIf="productForm.controls['price'].hasError('required')">
          Price is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label style="color: blue;">Manufacturer</mat-label>
        <input matInput [formControl]="productForm.controls['manufacturer']" placeholder="manufacturer">
        <mat-error *ngIf="productForm.controls['manufacturer'].hasError('required')">
          Manufacturer is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="productForm.controls['manufacturer'].hasError('pattern')">
          In manufacturer first character is <strong>capital</strong>
        </mat-error>
      </mat-form-field>
      <button type="submit" id="submit">Update A Product</button>
    </form>
    </div>-->

    <div *ngIf="showUpdationForm" class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 shadow p-3 mb-5 rounded" style="background-color: #EBEDEF;" id="addition">
          <h1 style="text-align: center;">Update Product</h1>
          <form [formGroup]="productForm" (ngSubmit)="update()" id="myform">
            <mat-form-field appearance="outline">
                <mat-label style="color:#009688;">Product Id</mat-label>
                <input matInput [formControl]="productForm.controls['productId']" disabled>
              </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Product Name</mat-label>
              <input matInput [formControl]="productForm.controls['productName']">
              <mat-error *ngIf="productForm.controls['productName'].hasError('required')">Product Name is
                <strong>required</strong></mat-error>
              <mat-error *ngIf="productForm.controls['productName'].hasError('pattern')"> Invalid Name! name must starts
                with capital letter and has atleast 2 characters.</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Category</mat-label>
              <input matInput [formControl]="productForm.controls['category']" placeholder="Category">
              <mat-error *ngIf="productForm.controls['category'].hasError('required')">Category is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="productForm.controls['category'].hasError('pattern')"> In Category first character is <strong>capital</strong>
              </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Description</mat-label>
              <input matInput [formControl]="productForm.controls['description']" placeholder="Description">
              <mat-error *ngIf="productForm.controls['description'].hasError('required')">
                Descrition is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="productForm.controls['description'].hasError('pattern')">
                In Description first character is <strong>capital</strong>
              </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Price</mat-label>
              <input matInput [formControl]="productForm.controls['price']" placeholder="Price">
              <mat-error *ngIf="productForm.controls['price'].hasError('required')">
                Price is <strong>required</strong>
              </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Manufacturer</mat-label>
              <input matInput [formControl]="productForm.controls['manufacturer']" placeholder="manufacturer">
              <mat-error *ngIf="productForm.controls['manufacturer'].hasError('required')">
                Manufacturer is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="productForm.controls['manufacturer'].hasError('pattern')">
                In manufacturer first character is <strong>capital</strong>
              </mat-error>
            </mat-form-field><br>
           
            <button class="btn btn-primary" style="width: 48%;" (click)="cancel()">Cancel</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" style="width: 48%;" type="submit" id="submit">Update</button>
          </form>
        </div>
        <div class="col-sm-4"></div>
      </div>





    <div *ngIf="showAdditionForm" class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 shadow p-3 mb-5 rounded" style="background-color: #EBEDEF;" id="addition">
          <h1 style="text-align: center;">Add Product</h1>
          <form [formGroup]="productForm" (ngSubmit)="add()" id="myform">
           
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Product Name</mat-label>
              <input matInput [formControl]="productForm.controls['productName']">
              <mat-error *ngIf="productForm.controls['productName'].hasError('required')">Product Name is
                <strong>required</strong></mat-error>
              <mat-error *ngIf="productForm.controls['productName'].hasError('pattern')"> Invalid Name! name must starts
                with capital letter and has atleast 2 characters.</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Category</mat-label>
              <input matInput [formControl]="productForm.controls['category']" placeholder="Category">
              <mat-error *ngIf="productForm.controls['category'].hasError('required')">Category is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="productForm.controls['category'].hasError('pattern')"> In Category first character is <strong>capital</strong>
              </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Description</mat-label>
              <input matInput [formControl]="productForm.controls['description']" placeholder="Description">
              <mat-error *ngIf="productForm.controls['description'].hasError('required')">
                Descrition is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="productForm.controls['description'].hasError('pattern')">
                In Description first character is <strong>capital</strong>
              </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Price</mat-label>
              <input matInput [formControl]="productForm.controls['price']" placeholder="Price">
              <mat-error *ngIf="productForm.controls['price'].hasError('required')">
                Price is <strong>required</strong>
              </mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label style="color: #009688;">Manufacturer</mat-label>
              <input matInput [formControl]="productForm.controls['manufacturer']" placeholder="manufacturer">
              <mat-error *ngIf="productForm.controls['manufacturer'].hasError('required')">
                Manufacturer is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="productForm.controls['manufacturer'].hasError('pattern')">
                In manufacturer first character is <strong>capital</strong>
              </mat-error>
            </mat-form-field><br>
           
            <button class="btn btn-primary" style="width: 48%;" (click)="cancel()">Cancel</button>&nbsp;&nbsp;&nbsp;
            <button class="btn btn-success" style="width: 48%;" type="submit" id="submit">Add</button>
          </form>
        </div>
        <div class="col-sm-4"></div>
      </div>



    <!--<div id="updation" *ngIf="showAdditionForm">
        <h2 style="text-align: center;">Add a Product</h2>
        <form [formGroup]="productForm" (ngSubmit)="onAdding()" id="myform">
          <mat-form-field>
            <mat-label style="color: blue;">Product Name</mat-label>
            <input matInput [formControl]="productForm.controls['productName']" placeholder="productName">
            <mat-error *ngIf="productForm.controls['productName'].hasError('required')">
              Product Name is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['productName'].hasError('pattern')">
                In Product Name first character is <strong>capital</strong>
              </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label style="color: blue;">Category</mat-label>
            <input matInput [formControl]="productForm.controls['category']" placeholder="Category">
            <mat-error *ngIf="productForm.controls['category'].hasError('required')">
              Category is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['category'].hasError('pattern')">
              In Category first character is <strong>capital</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label style="color: blue;">Description</mat-label>
            <input matInput [formControl]="productForm.controls['description']" placeholder="Description">
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              Descrition is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['description'].hasError('pattern')">
              In Description first character is <strong>capital</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label style="color: blue;">Price</mat-label>
            <input matInput [formControl]="productForm.controls['price']" placeholder="Price">
            <mat-error *ngIf="productForm.controls['price'].hasError('required')">
              Price is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label style="color: blue;">Manufacturer</mat-label>
            <input matInput [formControl]="productForm.controls['manufacturer']" placeholder="manufacturer">
            <mat-error *ngIf="productForm.controls['manufacturer'].hasError('required')">
              Manufacturer is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="productForm.controls['manufacturer'].hasError('pattern')">
              In manufacturer first character is <strong>capital</strong>
            </mat-error>
          </mat-form-field><br>
          <button class="btn btn-primary" style="width: 48%;" (click)="cancel()">Cancel</button>&nbsp;&nbsp;&nbsp;
          <button class="btn btn-success" style="width: 48%;" type="submit" id="submit">Add</button>
        </form>
        </div>-->



<div id="delete" class="row" *ngIf="showDeleteForm">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 shadow p-3 mb-5 bg-white rounded"><h2 style="text-align: center;">Delete Product</h2>
  <h3>Do you want to delete poroduct {{this.productId}}?</h3>
  <span style="align-content: flex-end;">
    <button class="btn btn-primary" style="width: 48%;" (click)="cancel()">Cancel</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-danger" style="width: 48%;" (click)="delete(this.productId)" cdkFocusInitial>Delete</button>
  </span></div>
  <div class="col-sm-4"></div>
</div>
