<table *ngIf="this.retailerService.retailerdb.length>0" class="table table-bordered table-striped table-hover">
    <thead><th>Retailer Id</th>
        <th>Retailer Name</th>
        <th>Address</th>
        <th>Zipcode</th>
        <th>City</th>
        <th>State</th>
        <th>Phone Number</th>
        <th>Email</th>
    </thead>
    <tbody>
        <tr *ngFor="let retailer of retailers">
            <td>{{retailer.retailerId}}</td>
            <td>{{retailer.retailerName}}</td>
            <td>{{retailer.address}}</td>
            <td>{{retailer.zipcode}}</td>
            <td>{{retailer.city}}</td>
            <td>{{retailer.state}}</td>
            <td>{{retailer.phoneNumber}}</td>
            <td>{{retailer.email}}</td>
            <td><button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="this.retailerService.retailerdb.length" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshRetailers()">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshRetailers()">
    <option [ngValue]="2">2</option>
    <option [ngValue]="4">4</option>
    <option [ngValue]="6">6</option>
  </select>
</div>



<button mat-mini-fab color="accent" (click)="addDialog()">
  <mat-icon>add</mat-icon>
</button>
<div id="main" class="mat-elevation-z8">
<mat-form-field>
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. R10001" #input>
</mat-form-field>

  
    <table mat-table [dataSource]="dataSource">
  
     
      <ng-container matColumnDef="retailerId">
        <th mat-header-cell *matHeaderCellDef> Retailer Id </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.retailerId}} </td>
      </ng-container>
  
      
      <ng-container matColumnDef="retailerName">
        <th mat-header-cell *matHeaderCellDef> Retailer Name </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.retailerName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.address}} </td>
      </ng-container>
  

      <ng-container matColumnDef="zipcode">
        <th mat-header-cell *matHeaderCellDef> Zipcode </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.zipcode}} </td>
      </ng-container>


      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef> City </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.city}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.state}} </td>
      </ng-container>
  

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.phoneNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let retailer"> {{retailer.email}} </td>
      </ng-container>


      <ng-container matColumnDef="update/delete">
        <th mat-header-cell *matHeaderCellDef> Update/Delete </th>
        <td mat-cell *matCellDef="let retailer"> 
            <button mat-icon-button color="primary" (click)="updateDialog(retailer)">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deleteDialog(retailer.retailerId)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [length]="this.retailerService.retailerdb.length" [pageSize]="2" [pageSizeOptions]="[1, 2, 5, 10, 20]"></mat-paginator>
  </div>