table {
    width: 100%;
  }
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  #main{
    margin:auto;
    width:90%;
    border-radius: 10px;
  }

  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }