
  .container{
    width: 100%;
  }
  
  #container {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto; 
    width:400px; 
    
    padding: 20px;
    background:black;
    border:2px solid #333;
    color: white;
    
  }
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }


  table{
    background-color: black;
  }
  .btn {
    background-color: red; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: blue;
  }
  a:hover{
    background-color: black;
  }
  a:link{color:white;}
  h1{
    text-align: center;color: blue;margin-top: 45px;background-color: black;height:45px;margin-bottom: 0px;font-size:42px;
  }
  #ShowSuccess
  {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;
    padding:20px;
    font-size: large;
    height: 50px;
  
  }
  div.success{
    margin-left: auto;
    background-color: black;
    color: white;
    padding: 2%;
  }



  
  #submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submit:hover {
    background-color: #45a049;
  }
  
  #updation {
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto; 
    width:400px; 
    height:550px;
    padding: 20px;
background-color: black;
    border:2px solid #333;
    color: white;
    
  }
  