<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <mat-toolbar color="primary" class="fixed-header">
        <mat-toolbar-row>
            <span><img src="./assets/logo.png" style="width:72px; padding-left: 0px;"></span>
            <p style="text-align: center;padding-left: 30px;">Dashboard</p >  
            </mat-toolbar-row>
            <mat-toolbar-row>
                <a mat-button routerLink="/basic" routerLinkActive="active">Basic</a>
                <a mat-button routerLink="/charts" routerLinkActive="active">Charts</a>
            </mat-toolbar-row>

     </mat-toolbar> 
     <router-outlet></router-outlet>
</body>
</html>